.container.center.col
  .card
    h4
      | Edit #{resource_name.to_s.humanize}
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .field
        = f.label 'Conta'
        br/
        = f.text_field :account_number, autofocus: true
      .field
        = f.label 'Senha'
        - if @minimum_password_length
          em
            | (#{@minimum_password_length} characters minimum)
        br/
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label 'Confirmação de senha'
        br/
        = f.password_field :password_confirmation, autocomplete: "off"

      .field
        = f.label 'Nome Completo'
        br/
        = f.text_field :name  

      .field
        = f.label 'VIP'
        br/
        = f.check_box :vip

      .actions
        = f.submit "Salvar", class: 'btn'
h3 Cancel my account
p
  | Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back
