
.container.center.col
  .card
    h4 Abrir Conta
    = form_for(resource, as: resource_name, url: account_register_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.label 'Conta'
        br/
        = f.text_field :account_number, autofocus: true, maxlength: 5, onkeypress:'return isNumber(event)'
      .field
        = f.label 'Senha '
        - if @minimum_password_length
          em
            | (Pelo menos #{@minimum_password_length} caractéres)
        br/
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label 'Confirmação de senha'
        br/
        = f.password_field :password_confirmation, autocomplete: "off"

      .field
        = f.label 'Nome Completo'
        br/
        = f.text_field :name  

      .field   
          = f.check_box :vip
          = f.label :vip

      .actions
        = f.submit "Salvar", class: 'btn'
= render "devise/shared/links"

  
