= form_for ClientShare.new, url: buy_shares_path do |f|
    = f.text_field :qtd, value: 0, onkeypress:'return isNumber(event)', style:"text-align:center;"
    = f.hidden_field :share_id, value: share.id
    = f.hidden_field :buy_price, value: 0, id: "#{share.name.gsub('.','_')}_price"
    = f.submit 'Comprar', disabled: true, class: 'btn', id: "#{share.name.gsub('.','_')}_btn"