<script>
function update_callback(results){
    for(var i = 0; i < results.length; ++i){
        r = results[i];
        <% shares.each do |s|%>
            <% share_name = s[:share_name].gsub('.','_')%>            
            <% share_func = s[:share_func]%>
            <%=raw("if(r['symbol']=='#{s[:share_name]}'){#{share_func}_update(r['LastTradePriceOnly'],(((parseFloat(r['LastTradePriceOnly'])/#{s[:buy_price]}) - 1) * 100).toFixed(2));}")%>
        <%end%> 
        refresh_time();     
    }
}
</script>