td
    .share_name id="#{share_code}_name"
        = share_name
td
    .value_name id="#{share_code}_value"
td
    .value_name 
        = number_to_currency(client_share.buy_price, unit:'R$')
td
    .change_name id="#{share_code}_change"
td
    .value_name 
        = client_share.qtd
td 
    = render 'sell_share_form', share: share, share_code: share_code
script
    = render 'share_update', share_name: share_code
        