= form_for ClientShare.new, url: sell_shares_path do |f|
    = f.hidden_field :id, value: share.id
    = f.hidden_field :sell_price, value: 0, id: "#{share_code}_price"
    = f.submit 'Vender', disabled: true, class: 'btn', id: "#{share_code}_btn"