javascript:

  var update_func = function() {$.get('#{share_addr}',
                                function(data, status){
                                  try{
                                      console.log(data['query']);
                                      update_callback(data['query']['results']['quote']);
                                      }
                                  catch(ex){
                                      console.log(ex);
                                      }
                                })
                                .always(
                                  function(){setTimeout(update_func,900)}
                                  );
                              }
  
  $( document ).ready(function() {
    update_func();
  });