var <%= "div_#{share_name}_change" %> = document.getElementById("<%="#{share_name}_change"%>");
var <%= "div_#{share_name}_value" %> = document.getElementById("<%="#{share_name}_value"%>");
var <%= "div_#{share_name}_btn" %> = document.getElementById("<%="#{share_name}_btn"%>");
var <%= "div_#{share_name}_price" %> = document.getElementById("<%="#{share_name}_price"%>");

function <%= "#{share_name}_update"%>(val, change){
   <%= "div_#{share_name}_value" %>.innerHTML = val; 
   <%= "div_#{share_name}_change" %>.innerHTML = change; 
   <% if !current_client.is_manager?%>
    <%= "div_#{share_name}_btn" %>.disabled = false;
    <%= "div_#{share_name}_price" %>.value = val;
   <%end%>
}