<script>
function update_callback(results){
    for(var i = 0; i < results.length; ++i){
        r = results[i];
        <% shares.each do |s|%>
            <% share_name = s.name.gsub('.','_')%>
            <%=raw("if(r['symbol']=='#{s.name}'){#{share_name}_update(r['LastTradePriceOnly'],r['Change']);}")%>
        <%end%> 
        refresh_time();     
    }
}
</script>