td
    .share_name id="#{share_name}_name"
        = share_name
td
    .value_name id="#{share_name}_value"
td
    .change_name id="#{share_name}_change"
script
    = render 'share_update', share_name: share_name
        