- share_list = ''
.container.center.col
  .card
    h3 Ações
    table.striped.bordered.centered
      thead
        - if !current_client.is_manager?
          th style='width:150px;'
            |Ações
        th Nome
        th Valor
        th Cotação
      tbody
        
      - @shares.each do |s|
        tr
          - if !current_client.is_manager?
            td
              = render 'buy_share_form', share:s
          = render 'share_div', share_name: s.name.gsub('.','_')
          - share_list += "%22#{s.name}%22#{s==@shares.last ? '' : '%2C'}"
         
    h5 
     = 'Atualizado em:'
     #time_div

- share_addr = raw("https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quote%20where%20symbol%20in%20(#{share_list})&format=json&diagnostics=true&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=")
= javascript_include_tag 'shares'
= render 'share_update_callback', shares: @shares
= render 'shares_js', shares: @shares, share_addr: share_addr, is_client_shares: false

  