- shares_group = []

.container.center.col
  .card
    h3 Ações
    h5
      = notice
    table.striped.bordered
      thead
        th Nome
        th Valor da ação
        th Valor de compra
        th Cotação
        th Qtd.
      tbody
        
      - @shares.each do |s|
        tr
          = render 'my_share_div', share: s, share_name: s.share.name, share_code: s.share.name.gsub('.','_') + "_#{s.id}", client_share:s
          - shares_group << {share_name:s.share.name, share_func:s.share.name.gsub('.','_') + "_#{s.id}", buy_price:s.buy_price}
          
          
    h5 
     = 'Atualizado em:'
     #time_div

- share_addr = raw("https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quote%20where%20symbol%20in%20(#{@share_list})&format=json&diagnostics=true&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=")
= javascript_include_tag 'shares'
= render 'client_share_update_callback', shares: shares_group
= render('shares_js', share_addr: share_addr) unless @shares.empty?

  