= form_for @visit do |f|
  - if @visit.errors.any?
    #error_explanation
      h2 = "#{pluralize(@visit.errors.count, "error")} prohibited this visit from being saved:"
      ul
        - @visit.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :client
    = f.text_field :client
  .actions = f.submit
