.container.center.col
  .card
    h3 Visitas
    table.highlight.bordered
      thead
        tr
          th Cliente
          th Data

      tbody
        - @visits.each do |visit|
          tr
            td = visit.client.name
            td = visit.created_at.strftime('%d/%m/%Y %H:%M')

br
