.container.center.col
  .card
    h4 Logar
    = devise_error_messages!
    = notice
    = alert
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label 'Número da conta'
        br/
        = f.text_field :account_number, autofocus: true
      .field
        = f.label 'Senha'
        br/
        = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Entrar", class:'btn'
    br

