
= form_for @transaction, url: @account_action do |f|
  - if @transaction.errors.any?
    #error_explanation
      h2 = "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      ul
        - @transaction.errors.full_messages.each do |message|
          li = message

  .field
    = f.label 'Valor'
    = f.text_field :value, data: { role: 'money',  a_dec: '.' }
  .field
    = f.label 'Descrição'
    = f.text_field :description, maxlength: 32
  - if is_transfer
    .field
      = f.label 'Conta Destino'
      = f.text_field :target_account, maxlength: 5, onkeypress:'return isNumber(event)'
  .actions = f.submit 'Concluído', class: 'btn'

javascript:
  $(function() {
    var money_fields;
    money_fields = $('input[data-role=money]');
    money_fields.autoNumeric('init');
    return money_fields.keydown(function(event) {
      if (event.keyCode === 13) {
        return $(this).autoNumeric('set', $(this).autoNumeric('get'));
      }
    });
  });
