.container.center.col
    .card
        h4
            = "Saldo:#{number_to_currency( @account.balance,unit:'R$')}"
        br
        p
            = notice
        h4       
            = @action_name
        br
            = render 'transactions/form', is_transfer: @is_transfer