h1 Listing transactions

table
  thead
    tr
      th Value
      th Account
      th Description
      th
      th
      th

  tbody
    - @transactions.each do |transaction|
      tr
        td = transaction.value
        td = transaction.account
        td = transaction.description
        td = link_to 'Show', transaction
        td = link_to 'Edit', edit_transaction_path(transaction)
        td = link_to 'Destroy', transaction, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Transaction', new_transaction_path
