p#notice = notice

p
  strong Value:
  = @transaction.value
p
  strong Account:
  = @transaction.account
p
  strong Description:
  = @transaction.description

= link_to 'Edit', edit_transaction_path(@transaction)
'  |
= link_to 'Back', transactions_path
