nav
  .nav-wrapper
    .brand-logo 
        = current_client.present? ? "Ola #{current_client.name}" : 'NilBank, Um banco que não existe!' 
    - if current_client.present?
      ul#nav-mobile.right.hide-on-med-and-down
        = render 'layouts/nav_items'
      