- if current_client.is_manager?
    li
        = link_to 'Contas', account_list_path
    li
        = link_to 'Visitas Agendadas', visits_path        
    li
        = link_to 'Ações', shares_path
-else
    li
        = link_to 'Saldo', my_account_path
    li
        = link_to 'Extrato', my_transactions_path
    li
        = link_to 'Depósito', deposit_path
    li
        = link_to 'Retirada', withdraw_path
    li
        = link_to 'Transferências', transfer_path
    li
        = link_to 'Ações', shares_path
    li
        = link_to 'Minhas Ações', my_shares_path
    - if current_client.vip 
        li
            = link_to 'Agendar Visita', visits_path,  method: :post, data: { confirm: 'Gostaria de agendar uma visita?' }
li 
    = link_to('Sair', destroy_client_session_path, class: 'btn', method: :delete, data: { confirm: 'Sair, Tem certeza?' })  