table.bordered.highlight
    thead
    tr
        th Data
        th Valor
        th Descrição
        th Conta
        //th
        //th

    tbody
        - transactions.each do |t|
            tr
            td = t.created_at.strftime('%d/%m/%Y %H:%M')
            td class="#{t.value >= 0 ? 'black-text' : 'red-text'}"
                = t.value >= 0 ? number_to_currency(t.value, :unit => "R$") : "(#{number_to_currency(t.value, :unit => "R$")})"
            td = t.description
            td = t.target_account

        //td = link_to 'Destroy', account, data: { confirm: 'Are you sure?' }, method: :delete