doctype html
html
  head
    title Nilbank
    
    = javascript_include_tag 'application'
    = csrf_meta_tags
    /! Compiled and minified CSS
    link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css" rel="stylesheet" /
    /! Compiled and minified JavaScript
    script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js" 
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = stylesheet_link_tag    'application', media: 'all'

  body
    = render 'layouts/navbar'
    = yield
