= form_for @account do |f|
  - if @account.errors.any?
    #error_explanation
      h2 = "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
      ul
        - @account.errors.full_messages.each do |message|
          li = message

  .field
    = f.label 'balance'
    = f.text_field :balance
  .field
    = f.label :client
    = f.text_field :client
  .actions = f.submit
