.container.center.col
  .card
    h3 Contas
    = link_to 'Abrir Conta', new_account_registration_path, class: 'btn'
    br
    table.bordered.highlight
      thead
        tr
          th Numero
          th Cliente
          th VIP
          th
      
      tbody
        - @accounts.each do |account|
          tr
            td = account.client.account_number
            td = account.client.name
            td = account.client.vip ? 'Sim' : 'Não' 
            td style='{display=inline-block;}'
              = link_to 'Extrato', account_transactions_path(account), class:'btn'
              = ' ' 
              = link_to 'Exibir', account_path(account), class:'btn'
              = ' ' 
              - if !account.client.vip
                = link_to 'Tornar VIP', set_account_vip_path(account), class:'btn'
              - else
                = link_to 'Retirar VIP', remove_account_vip_path(account), class:'btn'
      
    br
