.container.center.col
  .card
    h5
    h4
      = "Conta #{@account.client.account_number} #{@account.client.vip ? 'VIP' : '' }"
    p
      strong Cliente:
      = @account.client.name
    p
      h5
        strong 
          = 'Saldo'
          div class="#{@account.balance >= 0 ? 'black-text' : 'red-text'}"
            = number_to_currency(@account.balance, :unit => "R$") 
    br
    p
     = notice
    br
    p 
      strong Ultimas Transações:
      = render 'layouts/transactions', transactions: @transactions
      
    - if current_client.is_manager?
      = link_to 'Voltar', account_list_path, class:'btn'
    br
